*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
  header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
  header ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
  header ul li{
    list-style: none;
    margin-left: 20px;
}
  header ul li a{
    color: #111;
    text-decoration: none;
    font-size: 13px;
}
header ul li a img{
    display: flex;
    align-items: center;
}
  header ul li button{
    background: #1a73e8;
    border: none;
    outline: none;
    padding: 10px 24px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}
  .main{
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .main .searchBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
  .main .search{
    width: 100%;
    padding: 15px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 30px;
    border: 1px solid #dedede;
    outline: none;
    font-size: 16px;
}

  .main .searchBox .icons{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 11px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}
  .main .searchBox .icons .mic-lense{
    display: flex;
    align-items: center;
    gap: 25px;
}
  .main .buttons{
    margin-top: 20px;

}
  .main .buttons button{
    margin: 0 5px;
    padding: 12px 20px;
    color: #3c4043;
    background: #f8f9fa;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
    font-family: Arial !important;
}
  .main .buttons button:hover{
    border: 1px solid #dedede;
}

  .main .languages{
    display: flex;
    margin-top: 30px;
}
  .main .languages li{
    list-style: none;
    margin: 0 5px;
    font-size: 13px;
}
  .main .languages li a{
    text-decoration: none;
     color: #1a0dab;
}
  .main .languages li a:hover{
    text-decoration: underline;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
    font-size: 14px;
}
.footer .row{
    padding: 15px 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    color: #202124;
}
.footer .row.rowbottom{
    display: flex;
    justify-content: space-between;
}
.footer .row.rowbottom ul{
    display: flex;
}
.footer .row.rowbottom ul li{
    list-style: none;
}
.footer .row.rowbottom ul li a{
    text-decoration: none;
    
    color: #202124;
    margin-right: 25px;
}



















































































































































































































































































































































































































































































































































































































































....................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................row.rowbottom.................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
.......

































































































































































